{{> header}}

<section class="hero is-medium" style="background:url({{resolve "/images/main_bg.jpg"}}) center 0% no-repeat;background-size:cover;">
  <div class="hero-header">
    <header class="header">
      {{> navigation}}
    </header>
  </div>

  <div class="hero-content">
    <div class="container">
      <h1 class="title">Nous<strong>&nbsp;<span class="animateTitle"></span></strong></h1>
      <h2 class="subtitle">
        Microsource est la destination pour tous vos besoins informatique à bas prix.
      </h2>
      <p class="hero-buttons">
        <a href="http://blog.voident.xyz" class="button">Nos services</a>
        <a href="{{resolve "/projects"}}" class="button outline">Visitez le Blog</a>
      </p>
    </div>
  </div>
</section>

  <section class="container section" id="services">
    <h3>Nos services</h3>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="http://placehold.it/300x225" alt="">
            </figure>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">Réparation</p>
                <p class="subtitle is-6">Dank memes tbh</p>
              </div>
            </div>

            <div class="content">
              <a href="#" class="button outline is-fullwidth">Read more</a>
            </div>
          </div>
        </div>
      </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="http://placehold.it/300x225" alt="">
              </figure>
            </div>

            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">Recyclage</p>
                  <p class="subtitle is-6">A terrifyingly simple CSS framework</p>
                </div>
              </div>

              <div class="content">
                <a href="#" class="button outline is-fullwidth">Visit website</a>
              </div>
            </div>
          </div>
          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://placehold.it/300x225" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Sites Web</p>
                    <p class="subtitle is-6">It's a secret</p>
                  </div>
                </div>

                <div class="content">
                  <a href="#" class="button outline is-fullwidth">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="http://placehold.it/300x225" alt="">
                </figure>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Consultation à distance</p>
                    <p class="subtitle is-6">Dank memes tbh</p>
                  </div>
                </div>

                <div class="content">
                  <a href="#" class="button outline is-fullwidth">Read more</a>
                </div>
              </div>
            </div>
          </div>

            <div class="column">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="http://placehold.it/300x225" alt="">
                  </figure>
                </div>

                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">Systèmes sur mesure</p>
                      <p class="subtitle is-6">A terrifyingly simple CSS framework</p>
                    </div>
                  </div>

                  <div class="content">
                    <a href="#" class="button outline is-fullwidth">Visit website</a>
                  </div>
                </div>
              </div>
              </div>

              <div class="column">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img src="http://placehold.it/300x225" alt="">
                    </figure>
                  </div>

                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">Et plus encore</p>
                        <p class="subtitle is-6">Hey, that's pretty good</p>
                      </div>
                    </div>

                    <div class="content">
                      <a href="#" class="button outline is-fullwidth">Visit website</a>
                    </div>
                  </div>
                </div>
              </div>
    </section>

{{> footer}}
